/* line 1, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
.header {
  border-bottom: 1px solid #dfdfdf; }
  /* line 4, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
  .header .header__bg {
    background-image: url("../img/header__bg.jpg");
    width: 1200px;
    height: 349px; }
  /* line 9, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
  .header .header__menu {
    width: 860px;
    margin: 0 auto;
    position: relative;
    height: 82px;
    line-height: 82px;
    text-align: center; }
    /* line 16, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
    .header .header__menu .menu__item {
      display: inline-block;
      width: 150px; }
      /* line 19, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
      .header .header__menu .menu__item .item__link {
        text-decoration: none;
        cursor: pointer;
        color: #c5c5c5;
        font-size: 24px;
        font-weight: bold; }
        /* line 26, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
        .header .header__menu .menu__item .item__link:hover {
          color: #3eb3a5; }
    /* line 28, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
    .header .header__menu .menu__avatar {
      background-image: url("../img/main__avatar.jpg");
      width: 197px;
      height: 197px;
      top: -93px;
      position: absolute;
      border: 7px solid #fff;
      border-radius: 107px;
      cursor: pointer; }
      /* line 37, /Users/sergiirudenko/Projects/html-makeups/first-blg/sass/header.sass */
      .header .header__menu .menu__avatar + .menu__item {
        margin-left: 240px; }
