.link
    text-decoration: none
    color: $main
    &:hover
        color: $main_h

.btn
    color: #fff
    background-color: $main
    padding: 15px 25px
    border-radius: 3px
    font:
        size: 18px
        weight: bold
    &:hover
        background-color: $main_h

.label
    display: inline-block
    color: $gray
    cursor: pointer
    font:
        size: 12px
        weight: bold

.input, .textarea
    padding: 15px
    border: none
    border-radius: 3px
    color: $gray
    background-color: $border

.textarea
    resize: none