.topline
    height: 40px
    line-height: 40px
    color: #6e849b
    background-color: #f5f7fa
    border-bottom: 1px solid #e6e9ed
    font-size: 12px
    .topline_wrap
        @extend %in
        .topline__email, .topline__phone, .socials
            display: inline-block
        .topline__email, .topline__phone
            &:before
                display: inline-block
                content: ''
                margin-right: 8px
        .topline__email
            margin-right: 25px
            &:before
                background-image: url('../img/icon_mail.png')
                height: 9px
                width: 11px
        .topline__phone
            &:before
                background-image: url('../img/icon_phone.png')
                height: 13px
                width: 7px
                transform: translate(0, 15%)
        .socials
            float: right
            .social__fb, .social__gp, .social__tw,
            .social__pi, .social__ba,.social__bl
                display: inline-block
                margin: 0 7px
            .social__fb
                background-image: url("../img/icon_fb.png")
                width: 7px
                height: 13px
            .social__gp
                background-image: url("../img/icon_gp.png")
                width: 11px
                height: 11px
            .social__tw
                background-image: url("../img/icon_tw.png")
                width: 11px
                height: 9px
            .social__pi
                background-image: url("../img/icon_pi.png")
                width: 9px
                height: 11px
            .social__ba
                background-image: url("../img/icon_ba.png")
                width: 13px
                height: 10px
            .social__bl
                background-image: url("../img/icon_bl.png")
                width: 12px
                height: 11px
.header
    height: 110px
    border-bottom: 1px solid #e6e9ed
    .header__wrap
        @extend %in
        @extend %vertical-align
        .header__logo
            background-image: url("../img/logo.png")
            display: inline-block
            width: 161px
            height: 40px
    .nav__list
        display: inline-block
        @extend %vertical-align
        width: 68%
        margin-left: 4%
        @include tablet
            display: block
            width: 100%
            margin: 20px 0 0
        @include mobile
            display: block
            width: 100%
            margin: 20px 0 0

        li
            display: inline-block
            margin-right: 3%
            a
                color: #506a85
                text-decoration: none
                font:
                    size: 15px
                    weight: bold
                &:hover
                    color: #00bc9c
    .header__search
        position: absolute
        right: 20px
        bottom: 12px
        background-image: url("../img/icon_search.png")
        display: inline-block
        width: 12px
        height: 12px
        cursor: pointer